
<div fxFlex fxLayout="column" fxLayoutGap="10px" class="flex-content">
  <div fxLayout="row wrap">
    <!-- loop over the cardList and show the cards -->
    <div
      fxFlex="25"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
      <mat-card>
        <mat-card-title-group>
          <mat-card-title class="text-xl push-none">Card with Small Image </mat-card-title>
          <mat-card-subtitle class="push-none">80px x 80px Image</mat-card-subtitle>
          <img mat-card-sm-image src="https://placekitten.com/g/200/200">
        </mat-card-title-group>
      </mat-card>
    </div>
    <!-- loop over the cardList and show the cards -->
    <div
      fxFlex="25"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
      <mat-card>
        <mat-card-title-group>
          <mat-card-title class="text-xl push-none">Card with Small Image</mat-card-title>
          <mat-card-subtitle class="push-none">80px x 80px Image</mat-card-subtitle>
          <img mat-card-sm-image src="https://placekitten.com/g/200/200">
        </mat-card-title-group>
      </mat-card>
    </div>
    <!-- loop over the cardList and show the cards -->
    <div
      fxFlex="25"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
      <mat-card>
        <mat-card-title-group>
          <mat-card-title class="text-xl push-none">Card with Small Image</mat-card-title>
          <mat-card-subtitle class="push-none">80px x 80px Image</mat-card-subtitle>
          <img mat-card-sm-image src="https://placekitten.com/g/200/200">
        </mat-card-title-group>
      </mat-card>
    </div>
    <!-- loop over the cardList and show the cards -->
    <div
    fxFlex="25"
    fxFlex.md="50"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayout="column"
    style="padding: 5px;"
  >
    <!-- cards here -->
    <mat-card>
      <mat-card-title-group>
        <mat-card-title class="text-xl push-none">Card with Small Image</mat-card-title>
        <mat-card-subtitle class="push-none">80px x 80px Image</mat-card-subtitle>
        <img mat-card-sm-image src="https://placekitten.com/g/200/200">
      </mat-card-title-group>
    </mat-card>
  </div>

    <!-- loop over the cardList and show the cards -->
    <div
    fxFlex="25"
    fxFlex.md="50"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayout="column"
    style="padding: 5px;"
  >
    <!-- cards here -->
    <mat-card>
      <mat-card-title-group>
        <mat-card-title class="text-xl push-none">Card with Small Image</mat-card-title>
        <mat-card-subtitle class="push-none">80px x 80px Image</mat-card-subtitle>
        <img mat-card-sm-image src="https://placekitten.com/g/200/200">
      </mat-card-title-group>
    </mat-card>
  </div>

    <!-- loop over the cardList and show the cards -->
    <div
    fxFlex="25"
    fxFlex.md="50"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayout="column"
    style="padding: 5px;"
  >
    <!-- cards here -->
    <mat-card>
      <mat-card-title-group>
        <mat-card-title class="text-xl push-none">Card with Small Image</mat-card-title>
        <mat-card-subtitle class="push-none">80px x 80px Image</mat-card-subtitle>
        <img mat-card-sm-image src="https://placekitten.com/g/200/200">
      </mat-card-title-group>
    </mat-card>
  </div>

    <!-- loop over the cardList and show the cards -->
    <div
    fxFlex="25"
    fxFlex.md="50"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayout="column"
    style="padding: 5px;"
  >
    <!-- cards here -->
    <mat-card>
      <mat-card-title-group>
        <mat-card-title class="text-xl push-none">Card with Small Image</mat-card-title>
        <mat-card-subtitle class="push-none">80px x 80px Image</mat-card-subtitle>
        <img mat-card-sm-image src="https://placekitten.com/g/200/200">
      </mat-card-title-group>
    </mat-card>
  </div>

    <!-- loop over the cardList and show the cards -->
    <div
    fxFlex="25"
    fxFlex.md="50"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayout="column"
    style="padding: 5px;"
  >
    <!-- cards here -->
    <mat-card (click)="refresh()" class="hand">
      <mat-card-title-group>
        <mat-card-title class="text-xl push-none">Card with Small Image</mat-card-title>
        <mat-card-subtitle class="push-none">80px x 80px Image</mat-card-subtitle>
        <img mat-card-sm-image src="https://placekitten.com/g/200/200">
      </mat-card-title-group>
    </mat-card>
  </div>



</div>

</div>
