
<div fxFlex fxLayout="column" fxLayoutGap="10px" class="flex-content">
    <div fxLayout="row wrap">
      <!-- loop over the cardList and show the cards -->
      <div
        fxFlex="100"
        fxFlex.md="100"
        fxFlex.sm="100"
        fxFlex.xs="100"
        fxLayout="column"
        style="padding: 5px;">
        <!-- cards here -->
        <mat-card>
          <mat-card-content>
            <div class="form-container text-center">
                <mat-form-field>
                  <mat-label>Search</mat-label>
                  <input matInput [(ngModel)]="search">
                </mat-form-field>
                &nbsp;
                <button mat-raised-button color="primary" (click)="refresh()">Search</button>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
  <div fxLayout="row wrap">
    <!-- loop over the cardList and show the cards -->
    <div
      fxFlex="100"
      fxFlex.md="100"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;">
      <!-- cards here -->
      <div class="example-container mat-elevation-z8" class="smhide">

        <mat-table [dataSource]="splicedData" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="nhc">
                <mat-header-cell *matHeaderCellDef mat-sort-header> NHC </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.nhc}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.surname}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="lastname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.lastname}} </mat-cell>
            </ng-container>
    
            <!-- Color Column -->
            <ng-container matColumnDef="age" class="smhide">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Born </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.borndate | date:'dd/MM/yyyy'}} ({{row.borndate | age}}) </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="note" class="smhide">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Note </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.note}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="phone" class="smhide">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
            </ng-container>
    
            <!-- Color Column -->
            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    <button mat-raised-button color="primary" [routerLink]="['/c/patient/'+row.nhc]">Select</button>
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="select(row.nhc)" class="smhide">Edit</button>
                    
                </mat-cell>
            </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator (page)="pageChangeEvent($event)" [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="[2, 10, 25, 100]"></mat-paginator>
      </div>

      <div class="example-container mat-elevation-z8" class="smshow">

        <mat-table [dataSource]="splicedData" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="nhc">
                <mat-header-cell *matHeaderCellDef mat-sort-header> NHC </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.nhc}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.surname}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="lastname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.lastname}} </mat-cell>
            </ng-container>
    
            <!-- Color Column -->
            <ng-container matColumnDef="phone" class="smhide">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
            </ng-container>
    
            <!-- Color Column -->
            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    <button mat-raised-button color="primary" [routerLink]="['/c/patient/'+row.nhc]">Select</button>
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="select(row.nhc)" class="smhide">Edit</button>
                    
                </mat-cell>
            </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumnsSmall"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsSmall;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

    </div>
</div>
</div>
  
